<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Untree.co">
	<link rel="shortcut icon" href="favicon.png">

	<meta name="description" content="" />
	<meta name="keywords" content="bootstrap, bootstrap4" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<title>View Product</title>
	<!-- Bootstrap CSS -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://kit.fontawesome.com/d98b7a61d2.js" crossorigin="anonymous"></script>
	<link href="/css/tiny-slider.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<link href="/css/SubmitButton.css" rel="stylesheet">
</head>
<style>
    .carousel-container {
        width: 80%; /* Adjust the width as needed */
        margin: 0 auto;
    }

    .carousel img {
        width: 100%; /* Ensure images fill the carousel */
    }

</style>
<body>
<header th:insert="/Fragments/Header::header" ></header>

<div class="content">
	<section class="py-5">
		<div class="container-fluid ">
			<div class="row gx-5">
				<aside class="col-lg-6">
					<div class="border rounded-4 mb-3 d-flex justify-content-center">
						<div id="carouselExampleFade" class="carousel slide carousel-fade">
							<div class="carousel-inner">
								<!-- Iterate through the images and create carousel items -->
								<div th:each="image, imageIndex : ${product.productsImages}"
								     th:classappend="${imageIndex.index == 0} ? 'carousel-item active' : 'carousel-item'">
									<img th:src="@{/customer/{id}/image/{imageIndex}(id=${product.id}, imageIndex=${imageIndex.index})}" class="d-block w-100" alt="...">
								</div>
							</div>
							<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true" ></span>
								<span class="visually-hidden-focusable">Previous</span>
							</button>
							<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true" style="color: blue;"></span>
								<span class="visually-hidden">Next</span>
							</button>
						</div>
					</div>
				</aside>

				<main class="col-lg-6">
					<input type="hidden" name="productId" th:value="${product.id}" />
					<h1 th:text= "${product.productsName}"></h1>
					<h1 class="text-muted"><i class="fas fa-shopping-basket fa-sm mx-1" th:text= "${product.productsPrice}" ></i></h1>


					</p>



					<hr />
					<div class="item">
					<a th:href="@{/customer/cart/{id}(id=${id})}" class="CartBtn">
  <span class="IconContainer">
    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512" fill="rgb(17, 17, 17)" class="cart"><path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"></path></svg>
  </span>
						<p class="text">Add to Cart</p>
					</a>
					</div>
					<h1>Product Details:</h1>
					<div class="container" style="margin-top: 30px">
					<div th:text="${product.productsDescription}">
					</div>
					</div>
<div class="container">
	<h1 class="text-body">Delivery Information:</h1>
	<ul>
	<li >This product will be Hand Delivered to your doorstep.</li>
	<li >Every cake we offer is handcrafted and since each chef has his/her own way of baking and designing a cake, there might be slight variation in the product in terms of design and shape..</li>
	<li >The chosen delivery time is an estimate and depends on the availability of the product and the destination to which you want the product to be delivered..</li>
	<li >Since cakes are perishable in nature, we attempt delivery of your order only once. The delivery cannot be redirected to any other address..</li>
	<li >This product is hand delivered and will not be delivered along with courier products..</li>
	<li >Occasionally, substitutions of flavours/designs is necessary due to temporary and/or regional unavailability issues..</li>
	</ul>

</div>


				</main>
			</div>
		</div>

	</section>



</div>
<footer th:insert="/Fragments/Footer::footer" ></footer>

<script>
$(document).ready(function(){
// Get images from your backend endpoint using AJAX
$.get("/customer/{id}/image/{index}", function(images) {
// Populate the carousel with images
var carousel = $(".carousel");
images.forEach(function(imageUrl) {
carousel.append("<div><img src='" + imageUrl + "'></div>");
});

// Initialize Slick Carousel
carousel.slick({
slidesToShow: 1,
slidesToScroll: 1,
autoplay: true,
autoplaySpeed: 2000
});
});
});
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>