<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Untree.co">
	<link rel="shortcut icon" href="favicon.png">

	<meta name="description" content="" />
	<meta name="keywords" content="bootstrap, bootstrap4" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

	<!-- Bootstrap CSS -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://kit.fontawesome.com/d98b7a61d2.js" crossorigin="anonymous"></script>
	<link href="/css/tiny-slider.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<link href="/css/SubmitButton.css" rel="stylesheet">
	<title>Search results </title></head>
<style>
    .card {
        max-width: 650px;
    }
    .card-img-top{
        max-height: 200px;
        object-fit: cover;
    }

</style>
<body>
<header th:insert="/Fragments/Header::header" ></header>
<!-- Flight Search Form -->
<div class="hero">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-5">
				<div class="intro-excerpt">
					<h1>Search Result</h1>
				</div>
			</div>
			<div class="col-lg-7">

			</div>
		</div>
	</div>
</div>
<br>
<br>
<div class="content" >
	<h1 class="result" th:unless="${products != null and products.size() > 0}">

		Flights Not found
	</h1>
</div>
<br>
<br>

<section class="section">
	<div class="container mt-5">
		<li th:if="${products != null and products.size() > 0}">
			<div class="row gap-2 ">
				<div class="card" th:each="productdata:${products}">
					<img th:src="@{/customer/Flower-images/{id}(id=${productdata.id})}"
					     class="card-img-top" alt="Flight Image">
					<div class="card-body">
						<h5 class="card-title">
							<strong>Products Details</strong>
							<p class="card-text" >Name Number: <strong th:text="${productdata.productsName}"></strong></p>
							<p class="card-text" >Price: <strong th:text="${productdata.productsPrice}"></strong></p>
							<p class="card-text" >Type: <strong th:text="${productdata.giftType}"></strong></p>
						</h5>



						<!-- Nav tabs -->

						<a th:href="@{/customer/viewProduct/{id}(id=${productdata.id})}" class="btn btn-outline-warning btn-lg">View</a>
					</div>
				</div>
			</div>
	</div>
	<br>


	<!-- Flight Search Results -->
</section>
<footer th:insert="/Fragments/Footer::footer" ></footer>

<script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {
        $('#view_init').click(function() {
            $('#more_details').show();
        });
    });
</script>

<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/tiny-slider.js"></script>
<script src="/js/custom.js"></script>
</body>

</html>
